<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../public/css/form.css">
    <script defer type="text/javascript" src="../public/js/fetch.js"></script>
    <title>{{title}}</title>
</head>
<body>
<header>
    <div class="banner">
        <a href="/" class="logo">Instructor's Photo App</a>
        <div class="banner-middle">
            <input type="search" placeholder="Search for posts"/>
            <button type="submit">Search</button>
        </div>
        <div class="banner-right">
            <a class="active" href="/login">LOG IN</a>
            <a href="/postimage">Post</a>
        </div>
    </div>
</header>
{{{body}}}
<footer>
    <p>Author: Mohammad Abdelrahman @ 2020<br>
        <a href="mabdelrahman@mail.sfsu.edu">contact Owner</a></p>
</footer>

</body>
</html>