<header>
    <h1> Image Post</h1>
</header>
<section>
    <p>Post title</p>
</section>
<section>
    <p>Post author</p>
</section>
<section>
    <p>Post creation time</p>
</section>
<section>
    <p>Post image</p>
    <img src="https://fakeimg.pl/300/">
</section>
