<header>
    <h1>Login</h1>
</header>
<form>
    <fieldset>
        <label>User Name</label>
        <input type="text" required name="User name" placeholder="Username" />
        <br/>
        <label>Password</label>
        <input type="Password" required name="Password" placeholder="Password"/>
        <br/> </fieldset>
    <input type="submit" value="Login">
    <p>Do not have an account?</p>
    <a href="/registration">Register Here!</a>
</form>
