<header>
    <h1>Postimage Form</h1>
</header>
<form>
    <fieldset>
        <label>Post title</label>
        <input type="text" name="post title" />
        <br/>
        <label>Post description</label>
        <input type="text" name="post description" />
        <br/>
        <label>Add image</label>
        <input type="file"/>
        <br/>
        <input type="checkbox" name="images policy" />
        <label>Accept the policy for uploading images</label>
    </fieldset>
    <input type="submit" value="Submit Image">
</form>
